.navbar-logo--title{
  font-family: SourceSansPro, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: #00ccff;
    letter-spacing: -0.05em;
    text-decoration: none;
}
.wrapper--entry{
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #222;
}

.entry--text1{
  font-size:20px;
}

.entry--text2{
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
  text-transform: uppercase !important;
}

.entry--text3{
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
  text-transform: uppercase !important;
}
  



